#header {
  position: fixed;

}

.navigation {
  overflow: hidden;
  background-color: rgb(199, 173, 223);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

a {
  color: black;
}

#content {
  width: 600px;
  margin: 120px auto;
  margin-top: 100px;
}

h1 {
  font-size: 36px;
  margin-bottom: 8px;
}

.subtext {
  font-size: 18px;
  font-style: italic;
}

h2 {
  font-size: 24px;
  margin: 40px 0 8px 0;
}

body {
  font-family: 'Lato', sans-serif;
}

h1, h2 {
  color: #0066CC;
}


#photo {
  width: 400px;
}
#project-list {
  display: flex;                  /* Flex box */
  flex-direction: row;            /* Left to right */
  flex-wrap: wrap;                /* Wrap content */
  justify-content: space-between; /* Spread space */
}

.project {
  flex: 0 0 140px;                /* No grow/shrink, 140px width */
  margin-bottom: 10px;
  background-color: #7AA3CC;
  transition: 0.2s background-color;
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project:hover {
  background-color: #0066CC;
}